<%= render 'tab_nav' %>


<ul class="list-group">
<% @user.followers.each do |follower| %>
  <li class="list-group-item"><%= link_to "#{follower.username}", "/#{follower.username}" %></li>
<% end %>
</ul>
